<div class="container">
  <div class="row"> 
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="onSearch()">Search</button>
      <hr>
      <div class="row">
        <div class="col-md-4" *ngFor="let img of images; let i = index">
          <div class="thumbnail">
            <img [src]="img" [alt]="titles[i]" style="width:200px; height: 200px; object-fit: cover">
            <div class="caption">
              <p>{{ titles[i] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>